@tailwind base;
@tailwind components;
@tailwind utilities;


#homepage {
    background-image: url('/image.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.7);
    height: 100vh;
    width: 100%;
}
